﻿@model ASPMVCConservator.Sculpture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sculpture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlacementType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacementType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materials)
        </dt>

        <dd>
            Material Numbers:
            @Html.DisplayFor(model => model.Materials.Count)
           
            @Html.DisplayFor(model => model.Materials.ToList()[0].Name)
            @Html.DisplayFor(model => model.Materials.ToList()[0].MaterialTypes.Name)

        </dd>
        @for (int i=0; i<Model.Materials.Count;i++)
        {
          
            <dd>

                @Html.DisplayFor(model => model.Materials.ToList()[i].Name)
                @Html.DisplayFor(model => model.Materials.ToList()[i].MaterialTypes.Name)

            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sculpture_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
