﻿@model IEnumerable<ASPMVCConservator.Sculpture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
       
                 @Html.DisplayNameFor(model => model.PlacementType.Name)
        </th>
        <th>
    @*        @Html.DisplayNameFor(model => model.SculptureType)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlacementType.Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.SculptureType)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sculpture_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sculpture_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sculpture_Id })
        </td>
    </tr>
}

</table>
