﻿@model ASPMVCConservator.Care

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Care</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareFrequency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareFrequency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sculpture.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sculpture.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastTreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextTreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextTreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextSupervision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextSupervision)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
