﻿@model IEnumerable<ASPMVCConservator.Care>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CareFrequency.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CareType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sculpture.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextSupervision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CareFrequency.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CareType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sculpture.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextSupervision)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
